@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-font:"Montserrat" sans-serif;
    --main-font2:"Lexend" sans-serif;
    --black-color:#000;
    --white-color:#FFF;
    --main-color:#A3A3A3;
    --main-rgb:rgba(0, 0, 0, 0.66);
      --number_color: #000e8a;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body,.wrapper{
    width: 100%;
    height: 100%;
}

a{
text-decoration: none;
color: inherit;

}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}
ul,ol,li{
    list-style: none;
}
.wrapper{
    font-family:var(--main-font);
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    font-style: normal;
   
}
body{
    background-image: url(../image/body-fon.svg);
}
.container{
    width: 100%;
   max-width:1600px;
   margin: 0 auto;

}
/* COLLECTION START */
.collection_top_subtitle{
    font-family: var(--main-font2);
    font-weight: 800;
    font-size: 48px;
    line-height: 83%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--black-color);
}
.number{
    font-family: var(--main-font2);
    font-weight: 800;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color:var(--number_color);
    /* margin-left: 300px;
    display: inline-block; */
}
.collection_top_text{
    font-family: var(--main-font2);
    font-weight: 400;
    line-height: 286%;
    text-align: right;
    color: var(--main-color);
}
.collection_top_image_row_title{
    font-family: var(--main-font2);
    font-weight: 500;
    font-size: 14px;
    color: var(--main-rgb);
    padding: 5px 0;

}
.collection_top_image_row_subtitle{
    font-family: var(--main-font2);
 font-weight: 500;
 font-size: 18px;
 color: var(--black-color);
 padding-top: 5px;
}
.money_two{
    font-family: var(--main-font2);
    font-weight: 600;
    font-size: 15px;
    color: var(--black-color);
    padding-left: 170px;
}
.money_one{
    font-family: var(--main-font2);
    font-weight: 600;
    font-size: 15px;
    color: var(--black-color);
    padding-left: 65px;
}
.money{
    font-family: var(--main-font2);
    font-weight: 600;
    font-size: 15px;
    color: var(--black-color);
    padding-left: 122px;
}
.collection_top_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.convert{
    display:inline-block;
    border: 0.30px solid #a3a3a3;
    width: 12px;
    height: 12px;
    background:var(--white-color); 
    margin: 6px;
   
}
.convert2{
    display:inline-block;
    border: 0.50px solid #a3a3a3;
    width: 12px;
    height: 12px;
    background:var(--main-color); 
    margin: 6px;
}
.button_collection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 70px;
}
.collection_bottom_title{
    font-family: var(--main-font2);
    font-weight: 800;
    font-size: 48px;
    line-height: 83%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:var(--black-color);
}
.collection_bottom_link{
    font-family: var(--main-font2);
    font-weight: 500;
    font-size: 16px;
    line-height: 250%;
    color: #8a8a8a;
   transition: all 0.2s ease-in;

}
.link{
    font-family: var(--main-font2);
    font-weight: 800;
   font-size: 16px;
    line-height: 250%;
   text-transform: uppercase;
   color:var(--black-color);
}
.collection_top_image_row{
    margin-top: 37px ;
}

/* .collection_bottom_subtitle{
    padding: 5px 0;
    text-align: right;
    
}
.collection_bottom_subtitle-one{
    text-align: right;
    margin-right: 15%;
} */
.collection_bottom_link{
    display: flex;
    gap: 40px;
    margin-top: 45px; 
}
.collection_bottom{
 margin-top: 150px; 
}
.collection_bootom_border{
    border: 0.20px solid #dfdfdf;
    width: 100%;
}
.collection_image_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 41px; */
}
.collection_bottom_link-tow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-weight: 400;
      font-size: 16px;
     line-height: 250%;
      color: #8a8a8a;
}
.collection-two-top{
    margin-top: 164px;
}
.collection-two-top-title{
    font-family: var(--main-font2);
    font-weight: 600;
    font-size: 50px;
    line-height: 83%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color:var(--black-color);
}
.collection-two-top-subtitle{
   font-size:var(--main-font2) ;
   font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.19em;
  text-align: center;
  color: var(--black-color);
  padding-top: 13px;
}
.collection-two-images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: 102px;
}
.collection-two-top_image{
    margin-bottom: 103px;
}
.collection-two-top_image_two{
    margin-top: 73px;
}
.collection-two-top_image_three{
    margin-bottom: 73px;
}
.collection-two-top_image_four{
    margin-top: 103px;
}
/* COLLECTION END */


/* Footer start */
footer{
  background-image: url(../image/bg.svg);
   width: 100%;
 
}
.footer_left_top{
    padding-top: 168px;
    padding-left: 80px;
}
.row{
    margin-top: 84px;
}
.footer_title{
    font-family: var(--main-font2);
    font-weight: 500;
   font-size: 10px;
   line-height: 140%;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   color: var(--black-color);
   opacity: 0.4;
   padding-bottom: 10px;

}
.footer_link{
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-family: var(--main-font2);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-transform: uppercase;
    color:var(--black-color);
    opacity: 0.8;
}
.nav_text{
    display: inline;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color:var(--black-color);
    opacity: 0.2; 
}
.content_row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
}
.container_two{
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color:var(--main-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .info li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .info li:hover {
    background-color: #f0f0f0;
  }
  
  .technologies {
    text-align: center;
    margin: 0 40px;
  }
  
  .technologies h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .technologies p {
    font-size: 18px;
  }
  
  .languages {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .languages li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .languages li:hover {
    background-color: #f0f0f0;
  }
/* Footer end */


















